@use '../../sass/variable' as *;

.Header {
  background-color: $secondary-color;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

.search_box {
    font-family: inherit;
    font-size: 1.2rem;
    color: white;
    border: 2px solid $primary-color;
    border-radius: 50px;
    background-color: transparent;
    padding: 0.5rem 1.5rem;
}



.Movies_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}