@use '../../sass/variable' as *;

.Footer {
    width: 100%;
    display: flex;
    background-color: $third-color;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.link {
    text-decoration: none;
    color: white;
    padding: 1rem 0;
    

    svg {
        font-size: 3rem;
    }
}

.link:hover {
    color: $secondary-color;
}